<% include partials/header %>

    <div class='text-center'>
        <h1 class='landing-text'>Welcome to <em>Grocery</em> <i class="fa fa-shopping-bag" aria-hidden="true"></i></h1>
        
        <% if(!currentUser) { %>
            <a class='btn btn-lg btn-success' data-toggle="modal" data-target="#login">Login</a>
        <% } else { %>
            <a data-toggle="modal" data-target="#addrecipe" class='btn btn-lg btn-success'>Add a Recipe</a>
        <% } %>
        
    </div>





<% include partials/footer %>