$other: #ED8A27;
$light: #A6E5CD;
$dark: #1A2D42;
$primary-color: #A6373D;
$secondary-color: #4FA653;

#recipeImage {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.alert-danger {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
}

.alert-success {
    color: white;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.small-form {
	input[type=text], input[type=password], input[type=email] {
		margin: 10px auto !important;
		width: 90% !important;
	}
	button, input[type=submit] {
		margin: 0 auto;
		display: block;
	}
	label {
		margin-left: 5%;
	}
}

.form-group {
    margin-bottom: 3px;
}

.form-check-inline {
    background-color: $other;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    margin-right: 0;
}

.badge-primary {
    background-color: $other;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.form-check-label {
    font-size: .8rem;
}

h1, h2, h3, h4, h5, h6, a {
    // font-family: 'Quicksand', sans-serif;
}

li, p, input {
    font-family: 'EB Garamond', serif;
}

body {
    background-color: $light;
    width: 100%;
    background-image: url('/images/textured-stripes.png');
}

.container {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px 2%;
    
    form {
        width: 100%;
    }
}

.landing-imgs .col-md-6 {
    img {
        border-radius: 20px;
        border: 5px solid white;
    }
    h5 {
        margin-top: 15px;
    }
}

.container-alert {
    padding: 0 !important;
    background-color: none !important;
    margin: 0 !important;
    padding: 0 !important;
    margin: 10px auto 0 !important;
}

.text-center {
    h1 {
        font-size: 4rem;
    }
}

.landing-text {
    color: $dark;
    
    // text-shadow: 2px 2px 2px black;
    font-weight: 700;
    
    
}

.fa-cloud {
    color: white;
   -webkit-text-stroke: 2px $dark;
}

.navbar {
    background-color: $other;
    
    .navbar-brand, .active, .nav-link {
        color: $dark !important;
    }
    .nav-link:hover:not(.disabled) {
        font-weight: 700 !important;
        border-bottom: 1px solid $dark;
        padding-bottom: 2px;
    }
    .active {
        border-bottom: 1px solid $dark;
        padding-bottom: 2px;
    }
}

.btn {
    color: white !important;
    margin-top: 2px;
}

.btn:hover {
    cursor: pointer;
    color: white !important;
}

.btn:hover i {
    color: white !important;
}

i:hover {
    color: white !important;
}

.btn .active {
    opacity: .8;
}

.btn-success, .btn-success .disabled {
                background-color: $dark !important;
                border-color: $dark !important;
            }
            .btn-success:hover, .btn-success:hover .disabled {
                background-color: $other !important;
                border-color: $other !important;
            }
            
.btn-danger, .btn-danger .disabled {
    background-color: $other !important;
    border-color: $other !important;
}
.btn-danger:hover, .btn-danger:hover .disabled {
    background-color: $other !important;
    border-color: $other !important;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.btn-primary, .btn-primary .disabled {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}
.btn-primary:hover, .btn-primary:hover .disabled {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.btn-secondary, .btn-secondary .disabled {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
}
.btn-secondary:hover, .btn-secondary:hover .diabled {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.add-ingredient-button, .add-ingredient-button .disabled {
    color: $dark !important;
    cursor: pointer;
    padding: 10px;
}
.add-ingredient-button:hover, .add-ingredient-button:hover .disabled {
    color: $other !important;
}

.disabled {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    cursor: default !important;
}
            
.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    // width: 262px;
    border: 2px solid white;
    position: relative;
    transition: opacity 0.5s;
    border: 2px solid $dark;
    
        :hover {
            text-decoration: none;
            color: $other;
        }
        
        .card-img-top {
            // width: 238px;
            height: 160px;
            object-fit: cover;
        }
        
        .text-muted a {
            color: $other !important;
        }
        
        .text-muted:hover {
            color: $dark;
            -webkit-filter: brightness(90%);
            filter: brightness(90%);
        }
        
        .recipe-card {
            color: $dark;
        }
        
        .card-buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            
            .add-recipe {
                cursor: pointer;
            }
        
            .delete-recipe {
                cursor: pointer;
            }
            
        }
        
        
        
        .disabled {
            pointer-events: none;
            cursor: pointer;
        }
    }

.recipe-show {
    img, .recipe-details {
        width: 100%;
        padding-left: 5%;
        object-fit: cover;
    }
}

.modal-body {
    form {
        width: 100%;
    }
    .row {
        margin: 30px auto;
    }
}
