#recipeImage {
  width: 100%;
  height: 160px;
  object-fit: contain; }

.alert-danger {
  color: white;
  background-color: #A6373D;
  border-color: #A6373D; }

.alert-success {
  color: white;
  background-color: #4FA653;
  border-color: #4FA653; }

.small-form input[type=text], .small-form input[type=password], .small-form input[type=email] {
  margin: 10px auto !important;
  width: 90% !important; }
.small-form button, .small-form input[type=submit] {
  margin: 0 auto;
  display: block; }
.small-form label {
  margin-left: 5%; }

.form-group {
  margin-bottom: 3px; }

.form-check-inline {
  background-color: #ED8A27;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  margin-right: 0; }

.badge-primary {
  background-color: #ED8A27;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500; }

.form-check-label {
  font-size: .8rem; }

li, p, input {
  font-family: 'EB Garamond', serif; }

body {
  background-color: #A6E5CD;
  width: 100%;
  background-image: url("/images/textured-stripes.png"); }

.container {
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px 2%; }
  .container form {
    width: 100%; }

.landing-imgs .col-md-6 img {
  border-radius: 20px;
  border: 5px solid white; }
.landing-imgs .col-md-6 h5 {
  margin-top: 15px; }

.container-alert {
  padding: 0 !important;
  background-color: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin: 10px auto 0 !important; }

.text-center h1 {
  font-size: 4rem; }

.landing-text {
  color: #1A2D42;
  font-weight: 700; }

.fa-cloud {
  color: white;
  -webkit-text-stroke: 2px #1A2D42; }

.navbar {
  background-color: #ED8A27; }
  .navbar .navbar-brand, .navbar .active, .navbar .nav-link {
    color: #1A2D42 !important; }
  .navbar .nav-link:hover:not(.disabled) {
    font-weight: 700 !important;
    border-bottom: 1px solid #1A2D42;
    padding-bottom: 2px; }
  .navbar .active {
    border-bottom: 1px solid #1A2D42;
    padding-bottom: 2px; }

.btn {
  color: white !important;
  margin-top: 2px; }

.btn:hover {
  cursor: pointer;
  color: white !important; }

.btn:hover i {
  color: white !important; }

i:hover {
  color: white !important; }

.btn .active {
  opacity: .8; }

.btn-success, .btn-success .disabled {
  background-color: #1A2D42 !important;
  border-color: #1A2D42 !important; }

.btn-success:hover, .btn-success:hover .disabled {
  background-color: #ED8A27 !important;
  border-color: #ED8A27 !important; }

.btn-danger, .btn-danger .disabled {
  background-color: #ED8A27 !important;
  border-color: #ED8A27 !important; }

.btn-danger:hover, .btn-danger:hover .disabled {
  background-color: #ED8A27 !important;
  border-color: #ED8A27 !important;
  -webkit-filter: brightness(90%);
  filter: brightness(90%); }

.btn-primary, .btn-primary .disabled {
  background-color: #A6373D !important;
  border-color: #A6373D !important; }

.btn-primary:hover, .btn-primary:hover .disabled {
  background-color: #A6373D !important;
  border-color: #A6373D !important;
  -webkit-filter: brightness(90%);
  filter: brightness(90%); }

.btn-secondary, .btn-secondary .disabled {
  background-color: #4FA653 !important;
  border-color: #4FA653 !important; }

.btn-secondary:hover, .btn-secondary:hover .diabled {
  background-color: #4FA653 !important;
  border-color: #4FA653 !important;
  -webkit-filter: brightness(90%);
  filter: brightness(90%); }

.add-ingredient-button, .add-ingredient-button .disabled {
  color: #1A2D42 !important;
  cursor: pointer;
  padding: 10px; }

.add-ingredient-button:hover, .add-ingredient-button:hover .disabled {
  color: #ED8A27 !important; }

.disabled {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  cursor: default !important; }

.card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  position: relative;
  transition: opacity 0.5s;
  border: 2px solid #1A2D42; }
  .card :hover {
    text-decoration: none;
    color: #ED8A27; }
  .card .card-img-top {
    height: 160px;
    object-fit: cover; }
  .card .text-muted a {
    color: #ED8A27 !important; }
  .card .text-muted:hover {
    color: #1A2D42;
    -webkit-filter: brightness(90%);
    filter: brightness(90%); }
  .card .recipe-card {
    color: #1A2D42; }
  .card .card-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block; }
    .card .card-buttons .add-recipe {
      cursor: pointer; }
    .card .card-buttons .delete-recipe {
      cursor: pointer; }
  .card .disabled {
    pointer-events: none;
    cursor: pointer; }

.recipe-show img, .recipe-show .recipe-details {
  width: 100%;
  padding-left: 5%;
  object-fit: cover; }

.modal-body form {
  width: 100%; }
.modal-body .row {
  margin: 30px auto; }

/*# sourceMappingURL=main.css.map */
