<% include ../partials/header %>

<div class='container small-form'>
  <form class="small-form" action="/forgot" method="post">
    <div class='form-group'>
      <label>Enter Your Email to Reset Password</label>
      <input type="email" name="email" placeholder='Enter your email' class='form-control'>
    </div>
    <div class='form-group'>
      <input type='submit' class='btn btn-lg btn-success'></input>
    </div>
  </form>
</div>
          
<% include ../partials/footer %>