<% include ../partials/header %>

<div class='container small-form-container'>
<form class="small-form" method="post" onsubmit='return checkForm(this);'>
    <div class='form-group'>
        <label>Reset Password Form</label>
        <input type="password" name="password" placeholder='Enter Password' class='form-control' required minlength='8'>
    </div>
    <div class='form-group'>
        <input type="password" name="confirm" placeholder='Confirm Password' class='form-control' required minlength='8'>
    </div>
    <input type='submit' class='btn btn-primary btn-lg' value='Update Password'>
</form>
</div>
          
<% include ../partials/footer %>