<% include ../partials/header %>

<div class='container'>
    <h1 style="text-align: center;">Submit a New Recipe</h1>
    <div class='row' style='width: 50%; margin: 30px auto;'>
        <form method='POST' action='/users/<%= currentUser._id %>/recipes'>
            <div class='form-group'>
                <input type='text' name='recipe[name]' placeholder='Recipe Name' class='form-control'></input>
            </div>
            <div class='form-group'>
                <input type='text' name='recipe[url]' placeholder='Recipe Link' class='form-control'></input>
            </div>
            <div class='form-group'>
                <input type='text' name='recipe[image]' placeholder='Image URL' class='form-control'></input>
            </div>
            <div class='form-group'>
                <textarea name='recipe[notes]' class='form-control' placeholder='Notes'></textarea>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn-lg btn-success'>Submit Recipe!</button>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer %>